<div>
    <form action="/api/products" enctype="multipart/form-data" method="post">
        <div>
            <label>Title</label>
            <input name="title" id="title">
        </div>
        <div>
            <label>Description</label>
            <input name="description" id="description">
        </div>
        <div>
            <label>Code</label>
            <input name="code" id="code">
        </div>
        <div>
            <label>Price</label>
            <input type="price" name="price">
        </div>
        <div>
            <label>Stock</label>
            <input type="stock" name="stock">
        </div>
        <div>
            <label>Category</label>
            <input type="category" name="category">
        </div>
        <div>
            <label>Thumbnail</label>
            <input type="file" name="thumbnail">
        </div>

        <input type="submit" value="Submit">
    </form>
</div>